.circle {
  width: 20px;
  height: 20px;  /* change to 10 for tilt OR (according to angle you want )*/
  line-height: 30px;
  text-align: center;
  color: white;
  border-radius: 50%;
  position: absolute;
  background: black;
  /*transform: rotate3d(0, 1, 0, 37deg); */
  animation: spin 10s linear infinite reverse;
}

#rotate {
  width: 200px;
  height: 200px;  /* change to 100 for tilt OR (according to angle you want )*/
  margin: 200px auto;
  border: 1px solid white;
  position: relative;
  border-radius: 50%;
  animation: spin 10s linear infinite;

}

@keyframes spin {
  100% {  transform: rotate(2turn);}
}